[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/casper_custom"]
	path = content/themes/casper_custom
	url = git://github.com/fillet54/Casper.git
